<div class="container-fluid home-bg">

  <h1>08.10.2018</h1>

  <button class="myButton" title="Wróć do góry">Do Góry</button>

  <div class="row">
    <div class="col-md-9">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, beatae consequuntur
        culpa ea et excepturi fugit incidunt ipsa, iusto maxime molestias quam recusandae reprehenderit
        repudiandae unde. Eaque, quidem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci amet earum exercitationem incidunt iste
        labore. Alias ipsam iure maxime nam quod, sit voluptate! Consequatur dicta laborum libero possimus quis. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Consectetur culpa dolor eligendi facilis fugiat itaque iure molestiae
        nisi nostrum, officia optio, quia quod quos ratione, repellendus repudiandae similique voluptatem voluptates? Lorem
        ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores blanditiis deleniti dignissimos eveniet harum
        id in ipsa, laudantium magnam maxime modi officia officiis perspiciatis porro quasi quia quos sunt. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Dignissimos magnam, similique! A facere impedit incidunt labore
        laborum molestias optio placeat quisquam recusandae temporibus? Beatae consectetur natus nobis odio quidem quisquam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto consequuntur dicta dignissimos eveniet,
        mollitia nobis perspiciatis. Deserunt ex iure nostrum, odit quibusdam ut velit! Dolorem quod rem sapiente voluptas?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, beatae consequuntur
        culpa ea et excepturi fugit incidunt ipsa, iusto maxime molestias quam recusandae reprehenderit
        repudiandae unde. Eaque, quidem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci amet earum exercitationem incidunt iste
        labore. Alias ipsam iure maxime nam quod, sit voluptate! Consequatur dicta laborum libero possimus quis. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Consectetur culpa dolor eligendi facilis fugiat itaque iure molestiae
        nisi nostrum, officia optio, quia quod quos ratione, repellendus repudiandae similique voluptatem voluptates? Lorem
        ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores blanditiis deleniti dignissimos eveniet harum
        id in ipsa, laudantium magnam maxime modi officia officiis perspiciatis porro quasi quia quos sunt. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Dignissimos magnam, similique! A facere impedit incidunt labore
        laborum molestias optio placeat quisquam recusandae temporibus? Beatae consectetur natus nobis odio quidem quisquam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto consequuntur dicta dignissimos eveniet,
        mollitia nobis perspiciatis. Deserunt ex iure nostrum, odit quibusdam ut velit! Dolorem quod rem sapiente voluptas?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, beatae consequuntur
        culpa ea et excepturi fugit incidunt ipsa, iusto maxime molestias quam recusandae reprehenderit
        repudiandae unde. Eaque, quidem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci amet earum exercitationem incidunt iste
        labore. Alias ipsam iure maxime nam quod, sit voluptate! Consequatur dicta laborum libero possimus quis. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Consectetur culpa dolor eligendi facilis fugiat itaque iure molestiae
        nisi nostrum, officia optio, quia quod quos ratione, repellendus repudiandae similique voluptatem voluptates? Lorem
        ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores blanditiis deleniti dignissimos eveniet harum
        id in ipsa, laudantium magnam maxime modi officia officiis perspiciatis porro quasi quia quos sunt. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Dignissimos magnam, similique! A facere impedit incidunt labore
        laborum molestias optio placeat quisquam recusandae temporibus? Beatae consectetur natus nobis odio quidem quisquam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto consequuntur dicta dignissimos eveniet,
        mollitia nobis perspiciatis. Deserunt ex iure nostrum, odit quibusdam ut velit! Dolorem quod rem sapiente voluptas?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, beatae consequuntur
        culpa ea et excepturi fugit incidunt ipsa, iusto maxime molestias quam recusandae reprehenderit
        repudiandae unde. Eaque, quidem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci amet earum exercitationem incidunt iste
        labore. Alias ipsam iure maxime nam quod, sit voluptate! Consequatur dicta laborum libero possimus quis. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Consectetur culpa dolor eligendi facilis fugiat itaque iure molestiae
        nisi nostrum, officia optio, quia quod quos ratione, repellendus repudiandae similique voluptatem voluptates? Lorem
        ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores blanditiis deleniti dignissimos eveniet harum
        id in ipsa, laudantium magnam maxime modi officia officiis perspiciatis porro quasi quia quos sunt. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Dignissimos magnam, similique! A facere impedit incidunt labore
        laborum molestias optio placeat quisquam recusandae temporibus? Beatae consectetur natus nobis odio quidem quisquam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto consequuntur dicta dignissimos eveniet,
        mollitia nobis perspiciatis. Deserunt ex iure nostrum, odit quibusdam ut velit! Dolorem quod rem sapiente voluptas?
      </p>
    </div>

    <div class="col-md-3" >
      <img class="zdjecie" src="../../../assets/Miller-piwko-630x350.jpg" alt="Piwo"
           title="zdjecie przedstawia Alkohol" align="right"/>
    </div>
  </div>
</div>
